/* .App {
  text-align: center;
} */

 /*.title{
   width: 100%;
   text-align: center;
   margin-bottom: 50px;
 }*/

 .App-header {
  background-color: rgb(49, 129, 167);
  height: 100px;
  padding: 20px;
  color: white;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  padding-top: 20px;
}
 


.App-score {
  text-align: left;
  float: right; 
}


.App-logo {
  text-align: left;
   float: left; 
 
}

 .title {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}